<ion-content padding class="photo-div">
  <ion-card>
    
    <ion-card-content>
      <img src="../../assets/img/icons8-share-256.png"/>
    </ion-card-content>
    
  </ion-card>
  </ion-content> 
  
  
  <ion-footer>
    <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-button shape="round"color="primary" expand="block" fill="outline" (click)="login()">
              <ion-icon name="log-in-outline"></ion-icon>
              Login </ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" color="success" expand="block" fill="outline" (click)="register()"> 
              <ion-icon name="person-add-outline"></ion-icon>
              Create Account </ion-button>
              
          </ion-col>
        </ion-row>
    </ion-toolbar>
  </ion-footer>
  
  