ion-title {
  text-align: center;
  color: #960606;

 
     
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  }
#login-div{

width:200px;
margin:auto;

}

#create-div{

width:200px;
margin:auto;

}

.photo-div{
 top: 100px;
 left: 25px;
}