#email-div{
    position:relative;
    margin:auto; 
    margin-top: 10%; 
   }

   #password-div{
    position:relative;
    margin:auto; 
    margin-top: 10%; 
   }

   #create-div{
    position:relative;
    width:200px;
    margin:auto;
    margin-top: 10%; 
   }