<ion-header>
  <ion-item>
    <ion-button (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Login</ion-title>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <div id="email-div">
    <ion-label color="light" position="floating">Email</ion-label>
    <ion-input color="light"  [(ngModel)]="user.name"></ion-input>
  </div>
  </ion-item>

  <ion-item>
    <div id="password-div">
    <ion-label color="light" position="floating">Password</ion-label>
    <ion-input type="password" color="light" [(ngModel)]="user.password"></ion-input>
  </div>
  </ion-item>

    <div id="login-div">
    <ion-button shape="round"color="primary" expand="block" (click)="login(user.id)">Login</ion-button>
  </div>

</ion-content> 
